{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page (woah)</title>
{% block title %}About Pages{% endblock %}
{% block content %}
    <p>Even though it looks like I've been using this prgram for years, I'm actually just starting</p>
    <p> Crazy I know...<p>
{% endblock %}
<div id="footer">
    {% block footer %}
        <p>Layout Templates - <a href="https://github.com/Fletcher-D-314/flaskdemo_me/tree/master/templates">Original source on GitHub</a>.</p>
    {% endblock %}